:root {
	--light-blue: rgb(125,150,255);
	--dark-blue: rgb(0, 0, 85);
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	/* 
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	margin: 0rem;
	font-size: 1rem;
	text-align: center;
	font-family: sans-serif;
	color: var(--light-blue);
	background: var(--dark-blue);
}

header {
	position: fixed;
	top: 0;
	padding: 1rem 1rem;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 50px;
	max-height: 100%;
	margin-bottom: 15rem;
	font-size: 1.9rem;
	background-color: var(--dark-blue);
}

h1 {	
	color: var(--light-blue);
}

main {
	font-size: 1.5rem;
}

footer {
	width: 100%;
	height: 50px;
	max-height: 100%;
	font-size: 1.5rem;
}

h1 {
	font-weight: 500;
}

h2 {
	font-weight: 300;
}

.spacer {
	width: 100%;
	height: 50px;
	max-height: 100%;
	padding: 1rem 1rem;
}

.container {
	width: 95%;
	height: auto;
	display: grid;
	grid-template-areas:
		"title title"
		"box1 box2"
		"box3 box4";
	margin: 1.5rem auto 1.5rem auto;
	border-style: solid;
	border-radius: 5px;
	background-color: var(--light-blue);
	color: var(--dark-blue);
	box-shadow: 0 20px 30px rgba(150,150,255,0.19), 0 10px 10px rgba(150,150,255,0.23);
}

.title-box {
	width: 95vw;
	grid-area: title;
	justify-self: center;
	display: block;
	margin: 1.5rem 0rem 0.9rem 0rem;
	font-size: 1.8rem;
	font-weight: 600;
	font-style: oblique;
}

.content-box {
	width: 46vw;
	max-width: 100%;
	height: auto;
	display: block;
	justify-self: center;
	align-items: center;
	margin: 1rem;
	margin-bottom: 1rem;
	padding: 0rem;
	background-color: var(--dark-blue);
	color: var(--light-blue);
	border-style: solid;
	border-color: var(--dark-blue);
	border-radius: 5px;
}

.recipe-link {
	display: block;
	text-decoration: none;
	text-align: center;
	color: var(--light-blue);
	padding: 1rem;
}

.recipe-link:hover {
	background-color: var(--light-blue);
	color: var(--dark-blue);
}

.recipe-link:visited {
	color: var(--light-blue);
}

.recipe-link:visited:hover {
	color: var(--dark-blue);
}

#box1 {
	grid-area: box1;
}

#box2 {
	grid-area: box2;
}

#box3 {
	grid-area: box3;
}

#box4 {
	grid-area: box4;
}

@media (max-width: 650px) {
	.container {
		grid-template-areas:
			"title"
			"box1"
			"box2"
			"box3"
			"box4";
		margin: 1rem auto 1rem auto;
	}

	.content-box {
		width: 75vw;
	}
}
